.card {
  width: 350px;
  height: 450px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flag {
  height: 320px;
}

p {
  margin: 5px;
}

.card.visited {
  background-color: rgba(166, 172, 232, 0.7);
}
