.mainPage {
  padding-left: 300px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formContainer {
  width: auto;
}

.active {
  border: 2px solid blue;
  border-radius: 8px;
}

.noDataContainer {
  display: flex;
  justify-content: center;
}

.noDataMessage {
  font-size: 1.5rem;
  color: #2c3e50;
  background-color: #f9f9f9;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
