#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  min-height: 100vh;
}

.countries {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}
